* {
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: rgba(236, 240, 241, 1.0);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    background-color: rgba(44, 62, 80, 1.0);
    border-radius: 10px;
}

@media (max-width: 500px) {}

@media (min-width: 501px) {
	#windows {
		background: rgb(130,29,124);
		background: -moz-linear-gradient(90deg, rgba(130,29,124,1) 6%, rgba(50,122,180,1) 92%);
		background: -webkit-linear-gradient(90deg, rgba(130,29,124,1) 6%, rgba(50,122,180,1) 92%);
		background: linear-gradient(90deg, rgba(130,29,124,1) 6%, rgba(50,122,180,1) 92%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#821d7c",endColorstr="#327ab4",GradientType=1);
	}
}