* {
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background-color: rgba(236, 240, 241, 1.0);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    background-color: rgba(44, 62, 80, 1.0);
    border-radius: 10px;
}

@media (max-width: 500px) {}

@media (min-width: 501px) {
    #box-head {
        width: 100vw;
        height: 100vh;
        background-color: rgba(142, 68, 173, 1.0);
        position: relative;
    }
    #box-foot {
        height: 30vh;
        width: 100vw;
        background-color: antiquewhite;
    }
    #windows {
        width: 10rem;
        height: 10rem;
        background-color: aliceblue;
        margin: 0 auto;
    }
}